@font-face {
  font-family: "Inter";
  src: url("../../public/Inter_18pt-Regular.ttf");
}
@font-face {
  font-family: "Epilogue";
  src: url("../../public/Epilogue-Regular.ttf");
}
@font-face {
  font-family: "Roboto Mono";
  src: url("../../public/RobotoMono-Regular.ttf");
}

:root {
  --space: 1rem;
  --color-text: #333;
  --color-bg: #fff;
  --color-accent: #4caf50;
  --color-link: #0366d6;
  --color-link-hover: #1a97f0;
  --font-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-title: "Epilogue", var(--font-sans);
  --font-body: var(--font-sans);
  --font-mono: "Roboto Mono", SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace;
}

h1 {
  font-size: 3.052em;
  font-family: "Epilogue", sans-serif;
}
h2 {
  font-size: 2.441em;
  font-family: "Inter", sans-serif;
}
h3 {
  font-size: 1.953em;
  font-family: "Inter";
}
h4 {
  font-size: 1.563em;
  font-family: "Inter";
}
h5 {
  font-size: 1.25em;
  font-family: "Inter";
}
p {
  font-family: "Inter", sans-serif;
}
ul {
  list-style: none;
}
