@font-face {
  font-family: "Inter";
  src: url("../../public/Inter_18pt-Regular.ttf");
}
@font-face {
  font-family: "Epilogue";
  src: url("../../public/Epilogue-Regular.ttf");
}
@font-face {
  font-family: "Roboto Mono";
  src: url("../../public/RobotoMono-Regular.ttf");
}

:root {
  --space: 1rem;
}
h1 {
  font-size: 3.052em;
  font-family: "Epilogue", sans-serif;
}
h2 {
  font-size: 2.441em;
  font-family: "Inter", sans-serif;
}
h3 {
  font-size: 1.953em;
  font-family: "Inter";
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
}
p {
  font-family: "Inter", sans-serif;
}
ul {
  list-style: none;
}
