---
import HeroSection from "../component/HeroSection.astro"; // Import the new component
import BaseHead from "../component/BaseHead.astro";
import Footer from "../component/Footer.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Navbar from "../component/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Navbar />
    <HeroSection
      title="¡Domina tus Finanzas con tarjeta y mas!"
      listItems={[
        "Reseñas de tarjetas detalladas y objetivas",
        "Análisis bancarios expertos y confiables",
        "Cursos que transformarán tu relación con el dinero",
        "Comunidad activa para compartir y aprender",
        "Noticias financieras relevantes y actualizadas",
      ]}
      imageSrc="./money.jpg"
      imageAlt="Imagen de dinero"
      ctaText="Explora Nuestros Artículos"
      ctaLink="#blog-section"
    />
  </body><Footer />
</html>
