---
import Navbar from "../component/Navbar.astro";
import Footer from "../component/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style is:global>
      body {
        padding: 0;
        margin: 0;
      }
      nav,
      .content {
        margin: var(--space);
      }

      a {
        color: #4caf50;
      }
    </style>
  </head>
  <body>
    <Navbar />
    <div class="content">
      <slot />
    </div>
    <Footer />
  </body>
</html>
